<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="form-row" *ngFor="let question of questions">
            <app-dynamic-form-question [question]="question" [form]="form"></app-dynamic-form-question>
        </div>

        <div class="form-row-submit">
            <button type="submit" [disabled]="!form.valid">保存</button>
        </div>
    </form>
    <div *ngIf="payLoad" class="form-row">
        <strong>保存以下数据</strong>
        <br>
        <p>{{payLoad}}</p>
    </div>
</div>
