$radius: 6px;
$font-family: Arial, sans-serif;
// 首页导航的固定样式
h1{
    text-align: center;
}
.button{
    box-shadow: inset 0 1px 0 0 #fff;
    background: #fff linear-gradient(to bottom, #fff 5%, #f6f6f6 100%);
    border: 1px solid #dcdcdc;
    border-radius: $radius;
    display: inline-block;
    cursor: pointer;
    color: #666;
    font: {
        family: $font-family;
        size: 15px;
        weight: bold;
    };
    padding: 6px 24px;
    text: {
        decoration: none;
        shadow: 0 1px 0 #fff;
    }
    outline: 0;
}
// 导航活动时的样式
.activebutton {
    @extend .button;
    box-shadow: inset 0 1px 0 0 #dcecfb;
    background: #bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    border: 1px solid #84bbf3;
    color: #fff;
    text-shadow: 0 1px 0 #528ecc;
}
