<div class="header-container">
    <img src="./assets/img/logo.png" alt="" class="background-img">
    <div class="list-title-wrapper">
        {{listTitle}}
    </div>
    <div class="suggest-btn-wrapper">
        <button nz-dropdown 
                nz-button 
                [nzType]="'primary'" 
                [nzDropdownMenu]="menu"
                [nzTrigger]="'click'"
                [nzClickHide]="false"
                [nzPlacement]="'bottomRight'">
            <i nz-icon nzType="bulb" nzTheme="outline"></i>建议
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <div nz-menu class="dropdown-content-wrapper">
                <app-suggest></app-suggest>
            </div>
        </nz-dropdown-menu>
    </div>
    <div class="action-btn-wrapper">
        <div class="sort-btn-wrapper">
            <a nz-dropdown
               [nzDropdownMenu]="sortMenu"
               [nzPlacement]="'bottomRight'">
                <i nz-icon nzType="down-circle" nzTheme="outline"></i>排序
            </a>
            <nz-dropdown-menu #sortMenu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                    <li nz-menu-item (click)="switchRankType('title')">
                      名称
                    </li>
                    <li nz-menu-item (click)="switchRankType('planAt')">
                      计划时间
                    </li>
                    <li nz-menu-item (click)="switchRankType('dueAt')">
                      截止时间
                    </li>
                    <li nz-menu-item (click)="switchRankType('completeFlag')">
                      完成状态
                    </li>
                  </ul>
            </nz-dropdown-menu>
        </div>
    </div>
    
</div>